<app-navbar></app-navbar>

<div class="bodyMenu">
    <div class="contenedor">
        <div class="digital-clock-container">
            <div class="digital-clock">
                <div class="time">{{time}}</div>
                <div class="date">{{date}}</div>
            </div>
        </div>
        <div class="description">
            "Thing To Do es una Pagina web en la cual puedes administrar tu tiempo y tener una mejor productividad."
        </div>
        <div class="card-image center-align">
                <img class="card-image responsive-img" [src]="imageUrl" alt="Imagen">
            </div>
    </div>

</div>